.ships_content {
    display: flex;
    color: #fff;
    background: #363636;
    overflow-x: 'scroll'; 
    white-space: 'nowrap';
    width: '80%'; 
}

.ship_img {
    display: 'inline-block';
    margin-right: '20px';
    width: 150px;
    border: 2px solid;
    border-radius: 50%;
}